<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cv | Omar Rodriguez</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
  <div class="container-fluid">

    <div class="row">
      <div class="col s12 teal lighten-5 pb-4">
        <div class="col s3 push-s0  "></div>

        <div class="col s6  valign-wrapper">
          <div class="col s4  center-align">
            <p>
              <img class="responsive-img circle thumbnail" src="./assets/img/perfil.jpg" width="160" height="160">
            </p>
            <span><em>Software Developers</em></span>
          </div>
          <div class="col s6 ">
            <em>
              <h4>Cv - Omar Rodriguez</h4>
            </em>
          </div>
        </div>
        <div class="col s3 pull-s0 ">
          <div class="col s4">
          </div>
        </div>
      </div>

      <div class="col s12 light-green lighten-3 center-align">

        <div class="exp-text">Con más de 3 Años de Experiencia en la Rama del Desarrollo Web en Proyectos de Mesa a la
          Medida, Tanto en el Backend como el Frontend.</div>
      </div>
    </div>

    <div class="container">
      <ul class="collapsible">
        <li class="active">
          <div class="collapsible-header blue-grey lighten-1"><i class="material-icons">school</i>Formación Académica</div>
          <div class="collapsible-body">
            <dl>
              <div class="row center-align pb-4">
                <div class="col s3">
                  <dt class="pb-2 new badge fap"><i class="fa fa-dot-circle-o pr-1" aria-hidden="true"></i>Nombres y Apellidos</dt>
                  <em>Omar Andrés Rodriguez S.</em>
                </div>
                <div class="col s2">
                  <dt class="pb-2 new badge fap"><i class="fa fa-dot-circle-o pr-1" aria-hidden="true"></i>Nacionalidad</dt>
                  <em>Venezonala.</em>
                </div>
                <div class="col s4">
                  <dt class="pb-2 new badge fap"><i class="fa fa-dot-circle-o pr-1" aria-hidden="true"></i>Emails</dt>
                  <em>omargumer22&#64;gmail.com</em><br>
                    <em>oarodriguez.s&#64;hotmail.com</em>
                  </div>
                  <div class="col s3">
                    <dt class="pb-2 new badge fap"><i class="fa fa-dot-circle-o pr-1" aria-hidden="true"></i>Dirección</dt>
                    <em>Venezuela, Maracay - Estado Aragua.</em>
                  </div>
              </div>

              <dt><i class="fa fa-check-square-o pr-1" aria-hidden="true"></i>Técnico Superior Universitario en
                Informática.</dt>
              <dd><em>Año 2011 - 2014. Instituto Universitario de Tecnología de Administración Industrial (IUTA).</em>
              </dd>
              <dt><i class="fa fa-check-square-o pr-1" aria-hidden="true"></i>Diplomado en Desarrollo Web.</dt>
              <dd><em>Año 2017. Instituto Universitario de Tecnología de Administración Industrial (IUTA).</em></dd>
            </dl>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">format_list_bulleted_add</i>Cursos Realizados</div>
          <div class="collapsible-body">
            <dl>
              <div class="row">
                <div class="col s6">
                  <dt><i class="fa fa-check-square-o pr-1" aria-hidden="true"></i>Curso Profesional de Desarrollo Web.</dt>
                  <dd><em>Año 2020. Plataforma de Codigo Facilito.</em></dd>
                  <dt><i class="fa fa-check-square-o pr-1" aria-hidden="true"></i>Curso Profesional de JavaScript.</dt>
                  <dd><em>Año 2020. Plataforma de Codigo Facilito.</em></dd>
                </div>
                <div class="col s6">                  
                  <dt><i class="fa fa-check-square-o pr-1" aria-hidden="true"></i>Curso Profesional de Base de Datos Mysql.
                  </dt>
                  <dd><em>Año 2020. Plataforma de Codigo Facilito.</em></dd>
                  <dt><i class="fa fa-check-square-o pr-1" aria-hidden="true"></i>Curso Profesional de React en JavaScript.
                  </dt>
                  <dd><em>Año 2020. Plataforma de Codigo Facilito.</em></dd>
                </div>
              </div>
            </dl>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">handshake</i>Experiencia Profesional</div>
          <div class="collapsible-body">
            <dl>
              <dt><i class="fa fa-check-square-o pr-1" aria-hidden="true"></i>Desarrollador Freelance.</dt>
              <dd><em>Año 2019. Contribuciones al Desarrollo Web en Hispano Soluciones - HS.</em></dd>
              <dt><i class="fa fa-check-square-o pr-1" aria-hidden="true"></i>Analista Programador de Sistemas.</dt>
              <dd><em>Año 2016 - Actualmente. Instituto de Ferrocarriles del Estado (IFE) Edo.Miranda - Venezuela.</em>
              </dd>
            </dl>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">my_location</i>Objetivo Laboral</div>
          <div class="collapsible-body">
            <ul>
              <li><i class="fa fa-coffee pr-1" aria-hidden="true"></i><em>Trabajar como Analista programador ó
                    Desarrollador web en una empresa que:</em></li>
              <ul>
                <p class="pl-4">
                  <li><em class="nb"><i class="fa fa-crosshairs pr-1" aria-hidden="true"></i>brinde estabilidad.</em>
                  </li>
                  <li><em class="nb"><i class="fa fa-crosshairs pr-1" aria-hidden="true"></i>crecimiento
                      profesional.</em></li>
                  <li><em class="nb"><i class="fa fa-crosshairs pr-1" aria-hidden="true"></i>buen paquete salarial.</em>
                  </li>
                  <li><em class="nb"><i class="fa fa-crosshairs pr-1" aria-hidden="true"></i>y un excelente ambiente
                      laborar.</em></li>
                </p>
              </ul>
            </ul>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">terminal</i>Conocimientos</div>
          <div class="collapsible-body">

            <div class="row">
              <div class="col s12 m6">
                <div class="card blue-grey lighten-5">
                  <div class="card-action">
                    <span class="">
                      <i class="fa fa-code float-left" aria-hidden="true"></i>
                      <i class="fa fa-cogs float-right" aria-hidden="true"></i>
                    </span>
                  </div>
                  <div class="card-content">
                    <div class="row center-align new badge blue-grey lighten-1 brd"><em class="">Backend</em></div>
                    <ul>
                      <li><b><em><i class="fa fa-terminal pr-2" aria-hidden="true"></i>Framework Php <i class="material-icons">php</i></em></b></li>
                      <ul class="pl-4 pb-2">
                        <li>Codeigniter v3 | <em class="na">Avanzado</em></li>
                        <li>Laravel | <em class="nb">Básico</em></li>                        
                      </ul>
                      <ul>
                        <li><b><em><i class="fa fa-terminal pr-2" aria-hidden="true"></i>Base de Datos <i class="fa fa-server pl-1" aria-hidden="true"></i></em></b></li>
                        <ul class="pl-4 pb-2">
                          <li>PostgreSQL | <em class="na">Avanzado</em></li>
                          <li>MySql | <em class="ni">Intermedio</em></li>
                          <li>MongoDB | <em class="nb">Básico</em></li>
                        </ul>
                      </ul>
                      <ul>
                        <li><b><em><i class="fa fa-terminal pr-2" aria-hidden="true"></i>Otros<i class="fa fa-thumb-tack pl-2" aria-hidden="true"></i></em></b></li>
                        <ul class="pl-4 pb-2">
                          <li>NodeJs | <em class="ni">Intermedio</em></li>
                          <li>Git | <em class="ni">Intermedio</em></li>
                        </ul>
                      </ul>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col s12 m6">
                <div class="card blue-grey lighten-5">
                  <div class="card-action">
                    <span class="">
                      <i class="fa fa-code float-left" aria-hidden="true"></i>
                      <i class="fa fa-cogs float-right" aria-hidden="true"></i>
                    </span>
                  </div>
                  <div class="card-content">
                    <div class="row center-align new badge blue-grey lighten-1 brd"><em class="">Frontend</em></div>
                    <ul>
                      <li><b><em><i class="fa fa-terminal pr-2" aria-hidden="true"></i>Framework Js<i class="material-icons">javascript</i></em></b></li>
                      <ul class="pl-4 pb-2">
                        <li>Angular | <em class="ni">Intermedio</em></li>
                        <li>Vue | <em class="ni">Intermedio</em></li>
                        <li>React | <em class="nb">Básico</em></li>
                        <li>Sails | <em class="nb">Básico</em></li>
                      </ul>
                      <li><b><em><i class="fa fa-terminal pr-2" aria-hidden="true"></i>Framework Css<i class="material-icons pl-1">css</i></em></b></li>
                      <ul class="pl-4 pb-2">
                        <li>Bootstrap | <em class="na">Avanzado</em></li>
                        <li>Materialize | <em class="ni">Intermedio</em></li>
                        <li>Bulma | <em class="nb">Básico</em></li>
                        <li>Tailwind | <em class="nb">Básico</em></li>
                      </ul>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">share</i>Redes Sociales</div>
          <div class="collapsible-body">
            <ul>
              <li>
                <i class="fa fa-github pr-2" aria-hidden="true"></i>
                <a href="https://github.com/oarodriguez29" target="_blank">GitHub</a>
              </li>
              <li>
                <i class="fa fa-instagram pr-2" aria-hidden="true"></i>
                <a href="https://www.instagram.com/oarodriguez.s" target="_blank">Instagram</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

  </div>
</body>

</html>